/*
Justin Yu
9004340
*/
html{

    font-style: normal;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 30px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: normal normal normal 500 20px/1.5 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    color: black;
    background-color: aqua;
}


body{
   max-width : 1200px;
    width : 50%;
    /*center the body in the html element*/
    margin : auto;
    height: 100%;
}

main{
    width: 66%;
    float: left;
}

aside{
    width: 27%;
    float: right;
}

#top{
    background-color: cadetblue;
    font-size: 25px;
    margin : 1rem;
    margin-top : 1.5rem;
    margin-bottom : .75rem;
    margin-right : 1rem;
    margin-left : 1.25rem;
    margin : 1rem 2rem;  
    margin : 1rem 2rem 1.5rem;
    margin : 1rem 1.5rem 2rem .75rem;
    padding : 1rem;
    padding-top : 1.5rem;
    padding-bottom : .75rem;
    padding-right : 1rem;
    padding-left : 1.25rem;
    padding : 1rem 2rem;
    padding : 1rem 2rem 1.5rem;  
    padding : 1rem 1.5rem 2rem .75rem;
    border : .75rem solid black;



    text-align: center;
   

}
header, footer, main, aside{
    margin : 0.25rem;
    padding : 0.25rem;
}



h1{
    color:blueviolet;
   
     /*unit is relative to the current font-size*/
     font-size : 3.5em;
      /*unit is relative to the font-size set in the root element (html)*/
    font-size : 3.5rem;
}

p{
    color: red;
}
p{
    color: blue;
}
main{
    /*width : 100vw;*/
   /* width : 100%;*/
    background-color: burlywood;
    border-style: dashed;
    border-width: .25rem;
    border-color: #cc5599;



    border-left-style: dashed;
    border-right-style: solid;  
    border-top-style: dotted;   
    border-bottom-style: double;
    border-top-width: .5rem;
    border-bottom-width: .25rem;
    border-left-width: .5rem;
    border-right-width: .5rem;
    border-top-color: #cc5599;
    border-bottom-color: #dd5599;
    border-right-color: #cc6549;
    border-left-color: #cc5577;
    

    border-style: solid dotted double dashed;
    border-style: solid;
    border-style: solid dotted;
    border-style: solid dotted dashed;

    border-width: 1rem 2rem .5rem .75rem;
    border-width: 1rem 2rem .5rem;
    border-width: 1rem 2rem ;
    border-width: 1rem;
    
    border-color: #cc5599 green yellow blue;
    border-color: #cc5599 green yellow;
    border-color: #cc5599 green;
    border-color: #cc5599;

    border-top : .25rem dashed green;
    border-bottom : .25rem solid blue;
    border-right : .25rem dotted yellow;
    border-left : .25rem double red;

    border-top-left-radius: 1rem;
    border-top-right-radius : 2rem;
    border-bottom-left-radius: 2.5rem;
    border-top-right-radius: .75rem;

    border-radius: 1rem;;


}
.main-section{
    font-weight: lighter;
    color: red;


}
section{
    font-weight: bold;
}

/*class selector*/
.body-header{
    background-color: bisque;
}
/*element type selector*/
header{
    background-color: burlywood;
}
/*id selector*/
#top{
    background-color: orangered;
}

/*child combinator selector*/
section > blockquote{
    font-style: italic;
}
/*decendent combinator selector*/
main blockquote{
    font-variant: small-caps;
    clear: both;
}
/*adjacent sibiling combinator selector*/
blockquote + p{
    background-color: aqua;
}
/*general sibiling combinator selector*/
blockquote ~ em{
    background-color: aqua;
}
/*multple selector*/
#quotes, h2, li, a, .aside-section{
    color : red;
}
/*psudeo-element selector*/
a:hover{
    color:blue;
}
/*attribute selector*/
abbr[title]{
    color :rgb(28, 104, 13);
}
input[type=text]{
    width :50%;
}
/**Colour**/
/*6 digit hex*/
body {
    background-color: #dedede;
}

/*3 digit hex*/
form{
    background-color : #cc5599;
    background-color : #c59;
}
/*important*/
/*named colours*/
header{
    background-color: chocolate !important;
}
main video{
    clear: both;
}
main figcaption{
    clear:both;
}

/*rgb*/
main > blockquote{
    background-color: rgb(198, 210, 196);
}
/*rgba alph measure of transparency*/
h2 + blockquote{
    background-color: rgba(198, 210, 196, 0.9);
}
/*hsl*/
h2 ~ q{
    background-color: hsl(160, 73%, 71%);
}
/*hsla*/
h2 ~ cite{
    background-color: hsla(160, 73%, 71%, 0.5);
}
/*– unvisited*/
a:link{ 
    color: red; 
    text-decoration: none;
} 
/* visited link*/
a:visited{ 
    color:green; 
}
/*mouse over link*/
a:hover{ 
    color:grey; 
    text-decoration: underline;
} 
/*selected link*/
a:active{ color:
    blue; 
} 
ul{
    list-style-type: none;
    line-height: 1.5rem;
}
ol{
    list-style-type: lower-alpha;
    list-style-type: upper-roman;
}
#paper{
    list-style-type: square;
}
figure{
    padding : 1rem;
    border: 1rem solid orange;
    text-align: center;
    border-radius: 2rem;
    background-color: aqua;
}
figure img{
    margin: 1rem;
    width : 80%;
    height : 70%;
    display : block;
    margin : auto;
    border : 1rem solid black;
    border-radius: 2rem;
}

#quotes{
    margin : 1rem;
    padding : 1rem;
    border : .5rem solid orange;
    box-shadow: .5rem .5rem .25rem .25rem grey;
}


main img{
    width: 30%;
    float: right;
}

main q{
    width: 70%;
    float: left;
}

footer 
{
    clear: both;
    background-image: linear-gradient(45deg, red,orange,yellow,green,blue,indigo,violet);
}

footer 
{
    background-image: linear-gradient(blue 23.3%,indigo 66.6%,violet 100%);
}

footer p{
    font-size: 0.5rem;
    color: white;
}